.heading {
  padding: 1.5rem 2rem;
  background-color: var(--cardBackground);
  box-shadow: var(--cardShadowXSmall);
  display: flex;
  align-items: center;
  justify-content: flex-start;

  h1 {
    color: var(--titleColor);
  }
}

.description {
  display: flex;
  margin: 1rem;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;

  .description__container {
    max-width: var(--maxScreenSmall);
    background-color: var(--cardBackground);
    padding: 2rem;
    border-radius: var(--cardBorderRadius);
    box-shadow: var(--cardShadowSmall);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 1.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: var(--muted-color);

  strong {
    color: var(--accentColor);
  }
}
