:root {
  min-height: 100vh;
  box-sizing: border-box;

  /* Nav text, heading text, link hover bg, footer text, and input text. */
  --titleColor: #0a2540;
  --textColor: #425466;
  /* Link bg, button bg, and emphasized text. */
  --accentColor: #635bff;
  --muted-color: #596171;
  /* Body bg and input bg. */
  --backgroundColor: #f6f9fc;
  --buttonDisabledColor: #cfd7df;
  --inputPlaceholderColor: #727f96;
  --inputErrorAccentColor: #ff5996;
  --cardBackground: #fff;
  --cardBorderColor: #cbd6e0;
  --cardShadowSmall: 0 6px 12px -2px rgba(50, 50, 93, 0.25),
    0 3px 7px -3px rgba(0, 0, 0, 0.3);
  --cardShadowMedium: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
  --cardShadowLarge: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3);
  --transition: 0.2s ease-in-out;
  --fontWeightLight: 200;
  --fontWeightNormal: 300;
  --fontWeightSemibold: 425;
  --fontWeightBold: 500;
  --cardBorderRadius: 0.5rem;
  --layoutWidthMax: 1080px;
  --viewportWidthSmall: 375px;
  --viewportWidthMedium: 600px;
  --viewportWidthLarge: 1112px;
}

body {
  margin: 0;
  padding: 0;
  outline: 0;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: light) {
}
